body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: bisque;
    color: black;
}

header{
    background-color: greenyellow;
    color: black;
    text-align: center;
    padding: 20 px;

}
header img{
    border-radius: 10 px;
    margin: 20px;

}
